* {
  box-sizing: border-box;
}

body {
		background-color:#595959;
        background: url("images/Priyanka.jpg");
		background-size:cover;
		background-position:center;
        height: 100vh;
        margin: auto;
}

main {
    display:flex;
    padding: 20px;
}

content {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

section {
    display:flex;
    justify-content: space-evenly;
    align-items: center ;
    justify-content: center;
}

h1 {
	padding:20px;
	color:#FBB039;
    font-size:42px;
    font-family: 'realScream', regular;
    text-align: center;
	width:100%;
	text-shadow: 3px 3px #1F1E45;
}


h2 {
	position:relative;
	left:290px;
	width:20%;
	text-align:center;
    color:#FBB039;
    font-family: 'realScream', regular;
	font-size: 20px;
    padding: 10px 40px;
    margin-left: 20px;
    margin-right: 20px;
	border-radius: 12px;
	background-color:#1F1E45 ;
	letter-spacing: 2px
}

a {
    text-decoration:none;
    color:black;
}

p {
	position:relative;
	left:90px;
    width:45%;
    color:#FBB039;
    padding:40px;
	font-size:14px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin: 20px 0px;
}

iframe {
	position:relative;
	left: 260px;
	border: 1px solid;
	margin: 20px 0px;
	float:
}

@font-face {
	font-family: realScream;
	src: url(fonts/Scream_Real.otf)
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size:28px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

  body {
    width:100%;
	margin:0px;
  }
  
  content {
    padding: 10px 20px;
    align-items: center ;
    width:100%;
}
p {
    font-size: 14px;
    color:black;
    padding:20px;
    background: rgba(255, 255, 255, 0.9);
    min-width: 95%;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin: 10px 0px;

}


main {
    padding: 20px;
    width: 100%;
}

iframe {
	margin:10px 0px;
	width:99%;
}

h2 {
	font-size:20;

}