* {
  box-sizing: border-box;
}

body {
		height: 100vh;
		margin: 0;
		display:flex;
		justify-content: space-evenly;
		align-items: center ;
		justify-content: center;
}

main {
	display:flex;
	width:70%;
	padding: 20px;
}

content {
	padding: 10px 20px;
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items: center ;
}

section {
	display:flex;
	justify-content: space-evenly;
	align-items: center ;
	justify-content: center;
}

h1 {
	flex-shrink:2;
	font-size:60px;
	font-family: 'Special Elite', cursive;
	text-align: center;
}

iframe {

}

h2 {
	font-family: 'Roboto', sans-serif;
	padding: 10px 30px;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid;
}

a {
	text-decoration:none;
	color:black;
}
	
p {
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	margin: 50px 0px;
}
	