* {
  box-sizing: border-box;
}

body {
		color:white;
		background: url("images/rain.jpg");
		height: auto;
		margin: auto;
}

main {
	display:flex;
	padding: 20px;
}

content {
	padding: 10px 20px;
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items: center ;
	flex-shrink:1;
}

section {
	display:flex;
	justify-content: space-evenly;
	align-items: center ;
	justify-content: center;
	flex-shrink:1;
}

h1 {
	font-size:3em;
	font-family: 'Special Elite', cursive;
	text-align: center;
}

iframe {
	flex-shrink:1;
}

h2 {
	color:white;
	font-family: 'Roboto', sans-serif;
	padding: 10px 30px;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid white;
}

a {
	text-decoration:none;
	color:black;
}
	
p {
	min-width:500px;
	width:70%;
	color:black;
	padding:20px;
	background: rgba(255, 255, 255, 0.9);
	flex-shrink:1;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	margin: 50px 0px;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {


  body {
    background-color: lightblue;
  }

  content {
    padding: 10px 20px;
    align-items: center ;
}

main {
    padding: 20px;
}

iframe {
    width:100px;
}

p {
    min-width:500px;
    width:70%;
    color:black;
    padding:20px;
    background: rgba(255, 255, 255, 0.9);

    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin: 50px 0px;

}

}	